[Unit]
Description=Myristra Print Server

[Service]
Type=simple
User=root
WorkingDirectory=/opt/myristra/
ExecStart=/usr/bin/python3 /opt/myristra/myristra.py
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target